* {
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

body {
  background-color: black; }

h1 {
  text-align: center;
  padding-top: 20px; }

h2 {
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 40px;
  text-align: center;
  color: #d68181; }

h3 {
  font-size: 24px;
  text-align: center;
  color: #d68181; }

p {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center; }

.margin__lr {
  margin-left: 70px;
  margin-right: 70px; }

.margin__tb {
  margin-top: 40px;
  margin-bottom: 40px; }

.header {
  display: block; }

.header__logo {
  padding-top: 20px; }

.nav-menu {
  text-transform: uppercase;
  padding: 40px;
  font-size: 26px; }

.nav-menu__list {
  padding-left: 40px;
  padding-right: 40px; }

.nav-menu__item {
  color: #C4D8F2; }

.navbar__menu {
  display: flex; }

.footer {
  padding-top: 40px; }

.footer__flex {
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center; }

.icon {
  width: 75px; }

.zoom {
  transition: transform 1.5s; }

.zoom:hover {
  transform: scale(1.2); }

.imgSize {
  padding-top: 60px; }

.main {
  font-size: 24px;
  color: #FAFAFA;
  text-align: center;
  flex-wrap: wrap; }

.main__autor {
  width: 250px;
  margin: 70px;
  color: #d68181; }

.main__phrase {
  color: #FAFAFA;
  text-align: center;
  font-style: italic; }

@media screen and (max-width: 576px) {
  .title {
    width: 100%; }
  .margin__lr {
    margin: 0px; }
  .nav-menu {
    text-align: center; }
  .footer__flex {
    flex-direction: column;
    text-align: center; }
  .icon {
    width: 50px;
    padding-bottom: 20px; } }

@media screen and (max-width: 768px) {
  .header__logo {
    width: 100%; }
  .nav-menu {
    text-align: center; }
  .main__autor {
    display: block;
    flex-wrap: wrap;
    color: #d68181; } }

@media screen and (max-width: 992px) {
  .header__logo {
    width: 100%; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px; }
  .nav-menu__list {
    padding: 12px; }
  .main__autor {
    display: block;
    flex-wrap: wrap;
    color: #d68181; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1280px) {
  .header__logo {
    width: 100%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .nav-menu__list {
    padding: 12px; }
  .main__autor {
    display: block;
    flex-wrap: wrap;
    color: #d68181; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1440px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .nav-menu__list {
    padding: 12px; }
  .main__autor {
    display: block;
    flex-wrap: wrap;
    color: #d68181; }
  footer a {
    font-size: 20px; } }

.m-bio {
  display: flex;
  gap: 20px; }

.m-bio__text {
  font-size: 20px;
  padding-top: 20px; }

.m-bio__phrase {
  color: #d68181;
  text-align: center;
  font-style: italic;
  padding: 50px; }

@media screen and (max-width: 576px) {
  .title {
    width: 100%; }
  .margin__lr {
    margin: 0px; }
  .navbar-nav {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center; }
  .footer__flex {
    flex-direction: column;
    text-align: center; }
  .icon {
    width: 50px;
    padding-bottom: 20px; }
  p {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .header__logo {
    width: 100%; }
  .nav-menu {
    text-align: center; } }

@media screen and (max-width: 992px) {
  .header__logo {
    width: 100%; }
  .navbar-nav {
    display: block;
    text-align: center; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px; }
  .nav-menu__list {
    padding-left: none;
    padding-right: none; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1280px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .m-bio {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1440px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .m-bio {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1680px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .m-bio {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 576px) {
  .title {
    width: 100%; }
  .margin__lr {
    margin: 0px; }
  .navbar-nav {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center; }
  .footer__flex {
    flex-direction: column;
    text-align: center; }
  .icon {
    width: 50px;
    padding-bottom: 20px; }
  p {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .header__logo {
    width: 100%; }
  .nav-menu {
    text-align: center; } }

@media screen and (max-width: 992px) {
  .header__logo {
    width: 100%; }
  .navbar-nav {
    display: block;
    text-align: center; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px; }
  .nav-menu__list {
    padding-left: none;
    padding-right: none; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1280px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .m-bio {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1440px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .m-bio {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1680px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .m-bio {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

.arg-main {
  display: flex;
  gap: 20px; }

.arg-main__text {
  font-size: 20px; }

.arg-main__video {
  padding-top: 70px; }

@media screen and (max-width: 576px) {
  .title {
    width: 100%; }
  .margin__lr {
    margin: 0px; }
  .navbar-nav {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center; }
  .footer__flex {
    flex-direction: column;
    text-align: center; }
  .icon {
    width: 50px;
    padding-bottom: 20px; }
  .arg-main__text {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .header__logo {
    width: 100%; }
  .nav-menu {
    text-align: center; } }

@media screen and (max-width: 992px) {
  .header__logo {
    width: 100%; }
  .navbar-nav {
    display: block;
    text-align: center; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px; }
  .nav-menu__list {
    padding-left: none;
    padding-right: none; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1280px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .arg-main {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1440px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .arg-main {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1680px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  .arg-main {
    display: block;
    text-align: center; }
  footer a {
    font-size: 20px; } }

.table-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.table-main__flex {
  text-align: center;
  width: 400px; }

@media screen and (max-width: 576px) {
  .title {
    width: 100%; }
  .margin__lr {
    margin: 0px; }
  .navbar-nav {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center; }
  .table-main {
    display: block;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; }
  .footer__flex {
    flex-direction: column;
    text-align: center; }
  .icon {
    width: 50px;
    padding-bottom: 20px; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 20px; }
  p {
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  .header__logo {
    width: 100%; }
  .nav-menu {
    text-align: center; }
  .table-main {
    display: block;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (max-width: 992px) {
  .header__logo {
    width: 100%; }
  .navbar-nav {
    display: block;
    text-align: center; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px; }
  .nav-menu__list {
    padding-left: none;
    padding-right: none; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1280px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1440px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1680px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 576px) {
  .title {
    width: 100%; }
  .margin__lr {
    margin: 3px; }
  .navbar-nav {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center; }
  .footer__flex {
    flex-direction: column;
    text-align: center; }
  .icon {
    width: 50px;
    padding-bottom: 20px; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  .header__logo {
    width: 100%; }
  .nav-menu {
    text-align: center; } }

@media screen and (max-width: 992px) {
  .header__logo {
    width: 100%; }
  .navbar-nav {
    display: block;
    text-align: center; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px; }
  .nav-menu__list {
    padding-left: none;
    padding-right: none; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1280px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1440px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  footer a {
    font-size: 20px; } }

@media screen and (max-width: 1680px) {
  .header__logo {
    width: 80%; }
  .nav-menu {
    text-transform: uppercase;
    font-size: 24px;
    padding: none; }
  .navbar-nav {
    display: inline-flex;
    flex-wrap: nowrap; }
  .nav-menu__list {
    padding: 12px; }
  footer a {
    font-size: 20px; } }
